body {
  font-family: "Josefin Slab", serif;
  background-color: rgb(222, 216, 216);
}
.container {
  border-radius: 25px;
  width: 60%;
  background-color: rgb(245, 241, 241);
  margin: 0 auto;
  box-sizing: border-box;
}
.search {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}
.search:hover {
  transition: all 150ms ease-in-out;
}
.temperature {
  font-size: 36px;
  font-weight: 900;
}
.units {
  font-size: 18px;
  font-weight: 900;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: grey;
}
.date-time {
  font-size: 26px;
  font-weight: 900;
}
.section-1 {
  text-align: center;
  background-color: #fff;
  border-radius: 25px;
  height: 400px;
  width: 250px;
  margin: 10px;
}
.block-day {
  padding: 5px;
  background-color: #fff;
  border-radius: 25px;
  height: 100px;
  width: 80px;
  text-align: center;
}
.dayweek {
  font-size: 14px;
  margin: 0 auto;
}
.tempweek {
  font-size: 14px;
}
.maxTempWeek {
  font-weight: 900;
}
.dayweek,
.section,
.category {
  font-family: "Montserrat", sans-serif;
}
.block-highlights {
  padding: 10px;
  height: 105px;
  width: 160px;
  background-color: #fff;
  border-radius: 25px;
  vertical-align: top;
  margin-top: 0;
}
.category {
  color: rgb(186, 183, 183);
  text-align: left;
  font-size: 14px;
}
.details {
  text-align: left;
  font-size: 20px;
}
.sunriseSunset {
  font-size: 18px;
  text-align: left;
}
.section-2 {
  padding: 10px;
  box-sizing: border-box;
  vertical-align: top;
  margin: 0 auto;
}
.section-3 {
  box-sizing: border-box;
  vertical-align: top;
  margin-top: 0 auto;
  margin: 0;
}
.section-2,
.section-4,
.section-5 {
  font-size: 20px;
  box-sizing: border-box;
  padding: 10px;
}
.link {
  text-align: center;
  margin: 0 auto;
}
